<div class="container shadow p-5">
    <button mat-button mat-raised-button color="primary">Login</button>
    <button mat-button mat-raised-button color="accent">Login</button>
    <button mat-button mat-raised-button color="warn">Login</button>
    <button mat-button mat-raised-button style="background-color: black; color: white;">Login</button>
    <mat-icon>favorite</mat-icon>
    <button mat-button mat-raised-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
    </button>
    <br>
    <mat-form-field appearance="legacy">
        <mat-label>Legacy form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput>
    </mat-form-field>

    <button mat-button mat-raised-button color="primary" (click)="openBottomSheet()">Open</button>
 

</div>