<div class="container bg-dark text-light">
    <div class="row">
        <div class="col-5 mx-auto shadow bg-light">
            <button class="btn btn-info btn-sm">LogOut</button>
            <div>
                <h6 class="display-6">Add Contact App</h6>
                <input type="text" class="form-control mb-2" placeholder="Full Name" [(ngModel)]="full_name">
                <input type="text" class="form-control mb-2" placeholder="Email" [(ngModel)]="email">
                <input type="text" class="form-control mb-2" placeholder="Phone Number" [(ngModel)]="phone_no">
                <input type="text" class="form-control mb-2" placeholder="Address" [(ngModel)]="address">
                <input type="text" class="form-control mb-2" placeholder="Relationship" [(ngModel)]="relationship">
                <button class="btn btn-outline-success mb-2" (click)="createContact()">Create Contact</button>
                <button class="btn btn-outline-success mb-2" routerLink="/contacts">View Contact</button>
                <p>{{message}}</p>
            </div>
        </div>
        <div class="col-7">
            <input type="text" class="form-control my-3" placeholder="search here...." [(ngModel)]="searchContact">
            <div *ngFor="let id = index; let contact of contactArray | contactfilter:searchContact">
                <div class="row shadow pb-3">
                    <div class="col-3">{{contact.full_name}}</div>
                    <div class="col-3"><button class="btn btn-primary" routerLink="details/{{id}}">View</button></div>
                    <div class="col-3"><button class="btn btn-success">Edit</button></div>
                    <div class="col-3"><button class="btn btn-primary">Delete</button></div>
                </div>
            </div>

        </div>
    </div>
</div>