<nav class="nav bg-dark text-light">
    <a class="nav-link active" routerLink="/home">Home</a>
    <a class="nav-link active" routerLink="/signup">Sign Up</a>
    <a class="nav-link active" routerLink="/signin">Sign In</a>
    <a class="nav-link" routerLink="/contacts">Contacts</a>
    <a class="nav-link" routerLink="/forms">Forms</a>
    <a class="nav-link" routerLink="/api">Api</a>
    <a class="nav-link" routerLink="/parent">Parent</a>
    <a class="nav-link" routerLink="/material">Material</a>
</nav>
<router-outlet></router-outlet>